@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600i');
body{
    /* background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../Images/school-texture-5.jpg');
   background-size: 250px 250px;
    background-repeat: repeat; */
    background-image: linear-gradient(to bottom, #71eaff 0%, #30cfd0 20%, #330867 100%);
}
.container *{
    margin-top:5px;
    margin-bottom:5px;
}
.container{
    width:90%;
    margin:0px 5%;
    /* background-color: rgba(64, 110, 157, 0.21); */
    font-size:18px;
    text-align: center;
}
  .objective{
    padding:40px;
    padding-bottom:5px;
}
 .committee, .faculty, .infra_s{
    padding-bottom:20px;
    margin-top:40px;
}
.committee{
  margin:30px auto;
}
.faculty{
  margin:30px auto;
}
table{
  border-collapse: collapse;
  color:white;
  overflow: hidden;
  margin:3px auto;
  max-width: 75%;
}
.table_m{
  width:100%;
  margin-top:20px;
}
.main_head{
    font-size:35px;
    color: black;
    padding-bottom:20px;
     text-align: center; 
    margin-bottom:20px;
    font-weight: 700;
  }
th, td{
    /*border:1px solid black;*/
    padding: 10px 50px;
    padding-left: 30px;
}
tr:nth-child(odd){
  /* background-color: rgba(64,110,57,0.25); */
  background-color: #ffffff;
}
tr:nth-child(even){
  /* background-color: white; */
  background-color: rgb(199, 199, 199);
}
th{
  background-color: rgb(33, 49, 85);
  font-weight: 900;
  font-size:15px;
}
td{
  color:black;
  font-size: 16px;
  font-weight: 600;
}
.infra_d:nth-child(even){
  display: inline-flex;
  flex-direction: row;
  justify-content: space-around;
  text-align:left;
  width:100%;
  /*margin-top:30px;*/
  
  border-bottom:3px solid black;
  
}
.infra_d:nth-child(odd){
  display: inline-flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  text-align:right;
  width:100%;
  /*margin-top:30px;*/
  
  border-bottom:3px solid black;
  
}
.table_start_disp{
  display:none;
}
.pagination{
  display: inline-block;

}
.button_des{
  padding:8px 14px;
  background-color: rgb(33, 49, 85);
  color:white;
  border:none;
  border-radius:2px;
}
.infra_d img{
  float:right;
  width:auto;
  height:250px;
  box-shadow: 6px 6px 5px black;
  border-radius: 5px;
  margin: 50px 0px;
}
.infra_d p{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
  text-align: justify;
}

.infra_d:nth-child(2){
  border-top:3px solid black;
 /* background-image: url("../Images/background4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
 */ /*border: 2px solid black;*/
}
.infra_d p {
  background-color: rgba(230,230,230,0.6);
  margin: 80px 0px;
  padding: 0px 15px;
}

/*.infra_d:nth-child(3){
  background-image: url("../Images/background5.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
}
.infra_d:nth-child(4){
  background-image: url("../Images/background6.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.infra_d:nth-child(5){
  background-image: url("../Images/background7.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

}
*/td:nth-of-type(1), td:nth-of-type(1){
  width:  5%;
}
td:nth-of-type(2), td:nth-of-type(2){
  width: 45%;
}
td:nth-of-type(3), td:nth-of-type(3){
  width: 15%;
}
td:nth-of-type(4), td:nth-of-type(4){
  width: 5%;
}
@media only screen and (max-width:768px){
    .infra_d:nth-child(even){
      width:100%;
      display:flex;
      flex-direction: column;
      align-content:center;
      justify-content: flex-start;
      text-align: left;
      }
    .infra_d:nth-child(odd){
      display:flex;
      flex-direction: column;
      align-content:center;
      justify-content: flex-start;
      text-align: left;
      width:100%;
    }
    .infra_d img{
      width:70%;
      height:auto;
      margin:10px auto;
    }
    .infra_d p{
      padding: 8px;
      font-size: 18px;
      width:70%;
      margin:2px auto;
      text-align: center;
    }
    .container{
        width:100%;
        margin:0%;
        font-size:15px;
    }
    h1{
        font-size:32px;
    }
}
@media only screen and (max-width:600px){
    table{
      max-width: 100%;
    }
    .container{
        font-size:13px;
    }
    h1{
        font-size:30px;
    }
    .infra_d p{
      width:70%;
      font-size:12px;
      margin:2px auto;
      }
    th, td{
      font-size: 10px;
      padding:10px 9px;
    }
    td:nth-of-type(1), td:nth-of-type(1){
      width:  20%;
    }
    td:nth-of-type(2), td:nth-of-type(2){
      width: 40%;
    }
    td:nth-of-type(3), td:nth-of-type(3){
      width: 20%;
    }
    td:nth-of-type(4), td:nth-of-type(4){
       width: 20%;
    }
}