@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Noto+Sans');

#AcademicsHead {
  background-image: url('../Images/background5-copy.jpg');
  background-color: rgba(33,49,85,0.7);
  background-blend-mode: overlay;
  background-size: cover;
  padding-top: 18rem;
  padding-bottom: 2rem;
}

.AcademicsText {
  color: #0F1E32;
  font-family: 'Noto Sans';
  font-size: 1.5rem;
}

.AHead-en {
  font-family: 'Open Sans', sans-serif;
  font-size: 5rem;
}

.HEad {
  font-weight: 500;
  font-family: 'Noto Sans';
  color: #EB3E4A;
}

@media(max-width:768px) {
  .AHead-en {
    font-size: 3.5rem;
  }
}

@media(max-width:560px) {
  .AHead-en {
    font-size: 3rem;
  }
}