@import url('https://fonts.googleapis.com/css?family=Mukta');
body{
  font-family: 'Mukta'; 
}
.container{
    margin: 1% 8.66%;
}
.AcadamicsText{
 font-family: 'Mukta';
 font-size: 18px;
 font-weight: 400;
 margin-top: 20px;
 text-align: justify;
}
.about-section{
    margin-top:-80px;
    background: linear-gradient(rgba(33, 49, 85, 0.7), rgba(33, 49, 85, 0.7)), url('../Images/school-about.jpeg');
    color:white;
    background-size: cover;
    background-repeat: no-repeat;
    padding:40px;
    padding-top:120px;
    padding-bottom:105px;
}
.about-p{
    width:800px;
    size:20px;
    margin-top:30px;
    line-height: 1.6;
    
    margin-left:10%;
    font-size: 20px;
    font-weight: 400;
  }
  .imAge{
    width:30%;
    float: right;
    margin-top: 20px;
  }
  .clearfix{
    overflow: auto;
  }
  @media only screen and (max-width:1000px){
    .about-p{
      font-size:12px;
      width:auto;
  
    }
  }
  @media only screen and (max-width:768px){
    .imAge{
      width: 100%;
      display: none;
    }
  }