.Footer{
    background-color: #041335;
    color: #f1f0e2;
}
.FLink{
   color: #f1f0e2;
   padding-left: 36px;
}
.FLink:hover{
    color: #d9bb93;
    text-decoration: none;
}
.F-text{
    font-size: 1.3rem;
    padding-left: 36px;
}
@media (max-width:768px){
    .F-text{
        padding-left: 0px;
    }
    .FLink{
        padding-left: 0px;
    }
    #imgFooter{
        width: 40%;
    }
    .Footer{
        text-align: center!important;
    }
    ul{
        padding-inline-start: 0px;
    }
}
