@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body{
    background-image: linear-gradient(rgba(255,255,255,0.5),rgba(255,255,255,0.5)), url('../Images/school-texture-5.jpg');
    background-size: 250px 250px;
    background-repeat: repeat;
}

.text{
    text-align: center;
}
.Over-lay{
    width: 32%;
}
.lab-img{
    opacity: 1;
    width: 100%;
    height: 180px;
    transition: 0.5ms, ease;
}
.lab-img:hover{
    opacity: 0.7;
}
.a-eo{
    font-size: 1.2vw;
}


.l-div{
    /* margin-top: 40px; */
    /* border-bottom: 2px solid rgb(64,110,157); */
    /* background-color: rgba(64, 110, 157, 0.21); */
    padding: 20px;
}

.Speciality{
    margin-top: 50px;
    padding: 30px;
    background-image:linear-gradient(rgba(255,255,255,0.2),rgba(255,255,255,0.2)), url('../Images/school-texture-3.jpg');
    background-size: contain;
    font-weight: 800;
}

.facility{
    padding: 50px;
    font-weight: 800;
}

.p-0{
    padding: 0;
}
/* School-Image CSS */
.S-image{
    width: 100%;
    height: 500px;
    opacity: 0.7;
}

.school-image{
    position: relative;
    width: 100%;
    height: 500px;
    background-color: black;
}
.middle {
    transition: .5s ease;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
.s-text{
    width: 100%;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000; 
    font-size: 1.7vw;
}


/* CSS for mobile viewport */
@media (max-width:768px){
    body{
        font-size: 16px;
    }
    .a-eo{
        font-size: 16px;
    }
    .Over-lay{
        width: 100%;
    }
    .text{
        font-size: 12px;
        text-align: center;
    }
    .school-image , .S-image{
        height: 300px;
    }
}


/*CSS for Desktop view */
@media (min-width:768px){

    .l-div h1{
        padding-top: 10px;
        font-size: 2.5vw;
    }
    .lab-img{
        border: 1px solid #000;
        padding: 2px;
        background-color: #fff;
        border-radius: 5px;
    }
}
