@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
    background-color: #FFF;
    font-family: 'Open Sans', sans-serif;
    color: #003468;
}

.HEad {
    font-size: 3rem !important;
    font-weight: 500;
    color: #EB3E4A;
}

.home-head {
    background-image: url('../Images/SchoolPhoto.JPG');
    background-color: rgba(0, 0, 0, 0.5);
    background-size: cover;
    background-blend-mode: overlay;
    padding: 200px 100px;
    color: white;
}

.display4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.4;
}

.about-text {
    margin: 0 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.4rem;
}

.detailed_chart {
    background-image: url('../Images/background4.jpg');
    background-color: #3e4e59;
    background-size: cover;
    background-blend-mode: overlay;
    color: aliceblue;
    padding: 9rem 0;
}

#NEWs {
    background-color: #d3f5ff;
}

.news-container {
    width: 100%;
    padding-top: 10px;
    background-color: aliceblue;
}

.news {
    display: flex;
    margin: 10px 0;
}

.news-list {
    background-color: white;
    width: 45%;
    margin: auto;
    padding: 10px 0;
}

.news-c {
    background-color: white;
    width: 500px;
    height: auto;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.news-event {
    width: 90%;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.2);
    display: flex;
}

.news-date {
    width: 94px;
    padding: 13px 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.news-detail {
    width: 80%;
    padding: 25px;
    box-shadow: -3px 0 20px -11px black;
}

.day {
    font-size: 35px;
    color: green;
}

.month {
    font-size: 16px;
    color: green;
}

.main-event {
    color: #042051;
}

.news-time {
    color: grey;
    font-size: 16px;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

.form {
    width: 50%;
    margin: auto;
    padding: 20px;
    background-color: #6ba5f1;
    color: aliceblue;
    line-height: 30px;
    border-radius: 5px;
}

.admin-form {
    width: 98%;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #6ba5f1;
}

.inner-date {
    width: 110px;
    height: 30px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid #6ba5f1;
}

.form-button {
    width: 80px;
    background-color: #0D5D98;
    color: aliceblue;
    border: 1px solid #0D5D98;
    border-radius: 5px;
    height: 30px;
    display: block;
    margin: 20px auto;
    margin-bottom: 0;
    cursor: pointer;

}

.form-a-delete {
    color: aliceblue;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    padding: 5px;
    margin: auto;
}

.news-item:nth-child(even) {
    background-color: #7493D9;
}

.news-link {
    display: block;
    padding: 4px;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    color: #042051;
}

.s-news {
    padding: 8px;
    background-color: white;
    border: 12px solid rgb(33, 49, 85);
}

.s-news h1 {
    background-color: rgba(33, 49, 85, 0.8);
    color: white;
    padding: 0px;
    padding-left: 8px;
}

.s-news ul {
    margin-right: auto;
    margin-left: auto;
}

.chart_icon {
    font-size: 5rem !important;
    padding-bottom: 1.5rem;
}

.chart {
    font-size: 1.5rem;
}

.card-img-top {
    height: 20%;
}

@media (max-width:768px) {
    .FLink {
        padding-left: 0px;
    }

    .self-text {
        font-size: 1.2rem;
    }

    .home-head {
        padding: 100px;
        font-size: 3rem;
    }

    .display4 {
        font-size: 2.5rem;
    }
}

@media (max-width: 900px) {
    .news {
        flex-direction: column-reverse;
    }

    .news-list {
        width: 90%;
    }
}

@media (max-width: 560px) {
    .display4 {
        font-size: 2rem;
    }

    .news-c {
        width: 90vw;
    }
}