

body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans';
}

:root{
    --nav-color1: #042051;
    --nav-color2: #406E9D;
    --color: #FFFFFF;
}
/* main div styling where navbar is present */
.m-div{
width: 100%;
background: var(--nav-color1);
height: 142px;
font-size: 18px;
}

.sl-text{
    padding-top: 18px; 
    width: 30%;
    font-size: 28px;
    color: var(--color);
}

/* Nav Bar CSS Styling */
.n-trans{
    background: #042051;
    transform: skewX(-20deg)
}


nav ul{
    width: 43%;
    /* margin: 0 auto; */
    padding: 0;
    background: var(--nav-color1);
    float: right;
    margin-top: 86px;
    /* border-bottom: 2px solid var(--nav-color1); */
}

nav ul li{
    list-style: none;
    display: inline-block;
    border-radius: 2px;
}
nav ul li a:hover{
    background: var(--nav-color2);
    /* padding-bottom: 12px; */
    /* border-bottom: 3px solid var(--nav-color2); */
    transition: 0.5ms,ease;
}
nav ul li a{
    font-size: 16px;
    padding: 17px;
    display: block;
    color: var(--color);
    text-decoration: none;
    font-weight: bold;
}
nav ul li a:active{
    background-color: var(--nav-color2);
}
.toggle{
    width: 100%;
    padding: 10px 20px;
    background: var(--nav-color1);
    text-align: right;
    box-sizing: border-box;
    color: var(--color);
    font-size: 30px;
    display: none;
}

/*Media query for smaller devices*/
@media(max-width:768px){
    .toggle{
        display:block;
    }
    nav ul {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        display: none;
        /* position: fixed; */
        z-index: 9999;
    }
    nav ul li{
        background: var(--nav-color1);
        display: block;
        text-align: center;
    }
    .active{
        display: block;
    }

    .m-div{
        height: auto;
    }
    /*SchoolLogo Styling For mobile version */
    .S-Logo{
        float: left;
        width: 50px;
        height: 50px;
        margin: 4px 8px;
    }
    .sl-text{
        display: none;
    }
}
/* Nav Bar CSS Styling End here */

/* media query for desktop */
@media(min-width:900px){
   /* nav ul li:first-child{
        margin-left: 2%;
    } */
    .S-Logo{
        float: left;
        margin: 10px 20px;
    }


}

@media screen and (max-width: 1230px) and (min-width:768px){
    nav ul{
        /* width: 42%; */
        height: 60px;
        margin-top: 82px;
    }
    nav ul li a{
        font-size: 1.1vw;
    }
    .sl-text{
        padding-top: 0;
        display: none;
    }
    .S-Logo{
        float: left;
        margin: 10px 20px;
    }
}