html{
	height: 100%;
	
		
}

body{
	height:auto;
	font-family: 'Open Sans', sans-serif;
	background: linear-gradient(to bottom, rgba(252,252,252,1) 0%, rgba(164,226,245,1) 59%, rgba(188,224,238,1) 100%);
	background-size: cover;
	
	
}


form{
	width:30%;
	
	margin: 5% auto;
	border:1px solid black;
	display:flex;
	flex-direction: column;
	background-color:  #073495 ;
	padding-bottom: 8%;
	padding-top: 5%;

}

form *{
	
	margin: 10px 8% 0px 8%;
	color:white;
	
	
}
form h2{
	font-weight: bolder;
	text-align: center;
}
#Submit_B{
	background-color:#0D2455;
	padding:8px;
	height:32px;
	width:30%;
	margin:30px auto; 
	border-radius:5px;
	border:none;


}
.Single_Line{
	color: #4B80F3;
	background-color: transparent;
	outline: none;
	outline-style: none;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom:solid #eeeeee 1px;
	padding: 3px 10px;
}
#Username{
	width:75%;
}
#Password{
	margin: 0px;
	width: 89%;

}
.OneLine{
	display: flex;
	flex-direction: row;
}
form div span #Text_to_Pass{
	margin: 0px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
/* CSS styles for smartphones here */
body{
	height:auto;
}
form{
	
	margin: 30% auto;
	width:80%;
	height:40%;
	}
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
/* CSS styles for tablets here */
body{
	height: auto;
}
form{
	width:60%;
	height:20%;
	
	margin:25% auto;
}
}